@font-face {
    font-family: 'Formula1';
    src: url('./Formula1-Regular-1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: url('./Formula1-Bold_web.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1';
    src: url('./Formula1-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}