<nav class="menu" *ngIf="isMenuOpen">
  <ul class="menu-items">
    <li class="logo">
      <a  [routerLink]="['']">
        <img src="../../assets/img/logo.png" alt="logo" />
      </a>
    </li>
    <li class="menu-item" routerLinkActive="active" >
      <a class="item-text" [routerLink]="['/schedule']">
        <i-feather class="menu-icon" name="calendar"></i-feather>
        <p>Schedule</p>
      </a>
    </li>
    <li class="menu-item"  routerLinkActive="active">
      <a class="item-text" [routerLink]="['/drivers']">
        <i-feather class="menu-icon" name="user"></i-feather>
        <p>Drivers</p>
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>